<% if @journals.map(&:user).uniq.length == 1 %>
  <%= l(:text_issue_updated, :id => link_to("##{@issue.id}", @issue_url), :author => h(@journals.first.user)).html_safe %>
<% else %>
  <%= l(:text_issue_updated_multiple, :id => link_to("##{@issue.id}", @issue_url)).html_safe %>
<% end %>
<hr />

<% @journals.each do |journal| %>
  <% if journal.private_notes? %>
    (<%= l(:field_private_notes) %>)
  <% end %>
  <ul class="journal details">
  <% details_to_strings(journal.visible_details(@user), false, :only_path => false).each do |string| %>
    <li><%= string %></li>
  <% end %>
  </ul>

  <%= textilizable(journal, :notes, :only_path => false) %>
  <hr />
<% end %>
<%= render :partial => 'issue', :formats => [:html], :locals => { :issue => @issue, :user => @user, :issue_url => @issue_url } %>
